Repository Kurama-tech/Inpet-console, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, documentation, source, NodejsConfig, ServerConfig, UI, assets

.github/labeler.yml:

repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**/*.test.js
- test/**/*.spec.js
- src/**/*.test.js
- src/**/*.spec.js
- test/**/*.test.tsx
- test/**/*.spec.tsx
- src/**/*.test.tsx
- src/**/*.spec.tsx

documentation:
- README.md

source:
- any: ['app.js']

NodejsConfig:
- any: ['package.json', 'package-lock.json']

ServerConfig:
- any: ['ngnix/*']

UI:
- any: ['src/*']

assets:
- any: ['public/*']

image name update
  k8s/template.yaml
Labels: none

fix: routing
  src/components/Layout.tsx
Labels: none

chore: layout setup
  src/App.css
  src/App.tsx
  src/components/AddForm.tsx
  src/components/Customer.tsx
  src/components/Dashboard.tsx
  src/components/Layout.css
  src/components/Layout.tsx
  src/components/Supplier.tsx
  src/components/input.tsx
  src/index.css
  src/index.tsx
Labels: UI

added global state support and api service
  .gitignore
  k8s/template.yaml
  package-lock.json
  package.json
  src/App.tsx
  src/components/Layout.tsx
  src/components/Supplier.tsx
  src/components/table.tsx
  src/services/APIservice.ts
  src/store/reducer.tsx
  src/store/store.tsx
  yarn.lock
Labels: repo, UI

api url fix
  src/services/APIservice.ts
Labels: none

api url fix 2
  src/services/APIservice.ts
Labels: none

add suppliers
  nginx/nginx.conf
  src/components/Supplier.tsx
  src/components/addModal.tsx
  src/components/table.tsx
  src/services/APIservice.ts
Labels: none

chore: dailog
  src/components/Layout.tsx
  src/components/addModal.tsx
  src/components/table.tsx
  src/services/APIservice.ts
  src/store/reducer.tsx
  src/store/store.tsx
Labels: none

chore: added edit/delete option with details drawer
  src/components/Customer.tsx
  src/components/Supplier.tsx
  src/components/addModal.tsx
  src/components/deleteModal.tsx
  src/components/table.tsx
  src/services/APIservice.ts
  src/store/reducer.tsx
  src/store/store.tsx
Labels: none

fix: error handling for empty state
  src/components/table.tsx
Labels: none

fix: error handling for empty state
  src/components/table.tsx
Labels: none

added hyper links
  src/components/table.tsx
Labels: none

chore: added search filter
  src/components/addModal.tsx
  src/components/deleteModal.tsx
  src/components/table.tsx
Labels: none

added export and gst validation
  package-lock.json
  package.json
  src/components/ExportModal.tsx
  src/components/addModal.tsx
  src/components/table.tsx
  target/npmlist.json
  yarn.lock
Labels: repo

heroku deploy
  package.json
  target/npmlist.json
  yarn.lock
Labels: repo

try
  package-lock.json
Labels: repo

add post install
  package.json
Labels: repo

changes added
  .firebase/hosting.YnVpbGQ.cache
  .firebaserc
  firebase.json
  src/components/addModal.tsx
  src/components/table.tsx
  src/services/APIservice.ts
Labels: repo

real time updates
  .firebase/hosting.YnVpbGQ.cache
  .github/workflows/CD.yml
  src/components/addModal.tsx
  src/components/deleteModal.tsx
Labels: none

fix
  .firebase/hosting.YnVpbGQ.cache
  .gitignore
Labels: repo

added small fix
  src/components/addModal.tsx
Labels: none

fix GST validation
  src/components/addModal.tsx
Labels: none

fix
  src/components/AddForm.tsx
  src/components/ComponentDetails.tsx
  src/components/Layout.tsx
  src/services/APIservice.ts
  src/store/reducer.tsx
Labels: none

added improvements
  src/components/AddForm.tsx
  src/components/ComponentDetails.tsx
Labels: none

test case fixes
  src/components/AddForm.tsx
Labels: none

added changes in cost and qty
  src/components/AddForm.tsx
  src/components/ComponentDetails.tsx
  src/components/Review.tsx
  src/services/APIservice.ts
Labels: none

Inventory updates done
  api.json
  src/components/AddForm.tsx
  src/components/ComponentDetails.tsx
  src/components/Finish.tsx
  src/components/Layout.tsx
  src/components/Review.tsx
  src/services/APIservice.ts
  src/store/reducer.tsx
Labels: repo

added date validation fixed calculate qty error
  src/components/AddForm.tsx
  src/components/ComponentDetails.tsx
Labels: none

fixed qty error
  src/components/InventoryView.tsx
  src/components/Layout.tsx
Labels: none
